body {
    background-color: black;
    color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-size:2rem;
}



main{
    margin:0 100px;
}

.wrap{
    position:relative;
    overflow:hidden;
}

.h2 {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-bottom: 30px;
}



/* nav {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.images{
    display:flex;
    flex-direction: column;
    align-items: center;
} */


























/* .locals {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.local-item {
    text-align: center;
}




footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
} */
